/** pricing.css */
@import url("https://fonts.googleapis.com/css?family=Alegreya:900|Open+Sans|Slabo+27px&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffbf7;
    font-family: "Open Sans", sans-serif;
}

nav {
    background-color: #fffbf7;
}

li {
    display: inline;
    margin: 0 25px 0;
}

h1 {
    color: #025157;
    font-family: "Alegreya", serif;
    font-size: 60px;
    margin-bottom: 24px;
}

ul{
    margin: 0 auto;
}

.logo {
    width: 15%;
}

.logo>img {
    width: 25%;
}

.navbar-light .navbar-toggler {
    border-color: #025157;
}

.actions {
    text-align: right;
    font-weight: 600;
    font-size: 14px;
}

.actions>* {
    margin: 0 10px;
}

.actions a {
    color: #67b54b;
    text-decoration: none;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}

.information{
    margin-top: 130px;
    text-align: center;
}

.information p {
    color: #46484c;
    max-width: 680px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.faq {
    margin-top: 50px;
    padding-bottom: 120px;
}

.faq h2 {
    color: #025157;
    font-family: "Alegreya", serif;
}

.faq .card-header {
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.faq h2 > button {
    color: #025157;
    font-size: 28px;
    font-weight: 900;
}

.faq .card .card-body a {
    color: #6abf4b;
}

@media (max-width: 575px) {
    .logo img{
        width: 80%;
    }

    .container {
        display: flex;
    }

    .container .row {
        flex-direction: column;
    }

    main {
        margin-top: 130px;
        padding: 5%;
    }

    h1 {
        font-size: 30px;
    }
}