* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffbf7;
}

h1 {
    font-size: 60px;
    color: #025157;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
}

ul{
    margin: 0 auto;
}

li {
    display: inline;
    margin: 0 25px 0;
}

nav{
    background-color: #fffbf7;
}

.logo {
    width: 15%;
}

.logo>img {
    width: 25%;
}

.actions {
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.actions>* {
    margin: 0 10px;
}

.actions a {
    color: #67b54b;
    text-decoration: none;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}

.main {
    margin-top: 130px;
    text-align: center;
    padding: 20px;
}

.main .intro>img {
    width: 70%;
}

/* Para el form de email */
.enter-email {
    height: 55px;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

input {
    max-width: 250px;
    padding-left: 1.7em;
    height: 100%;
}

.insert {
    border: 1px solid #b6b6b6;
    border-radius: 8px 0 0 8px;
    width: 60%;
    margin: 0;
}

.boton-efecto {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: .3s ease all;
	position: relative;
	overflow: hidden;
    height: 100%;
    padding: 0.5em 4em;
    color: #fff;
    background-color: #025157;
    border-radius: 0 8px 8px 0;
    margin-left: -10px;
    border: none;
}

.uno span {
    transition: .3s ease-in-out all;
    position: absolute;
    left: 2.6em;
}

.uno .icono {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    right: 0;
    transition: .3s ease-in-out all;
    opacity: 0;
}

.uno svg {
    color: #fff;
    width: 1.5em;
    height: 1.5em;
}

.uno:hover {
    background-color: #67b54b;
}

.uno:hover .icono {
    right: 1em;
    opacity: 1;
}

.uno:hover .text-btn {
    left: 1em;
}

.publish {
    margin-left: 30px;
}

.publish h2 {
    font-family: 'Poppins', serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.publish>p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}

.publish p:nth-child(3) {
    color: #025157;
    margin-right: 18px;
    font-family: Verdana;
    font-size: 20px;
    text-align: start;
}

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explanatory-video img {
    width: 120px;
    margin-top: 10px;
}

.features {
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-rows: repeat(2, 1fr); */
    margin-top: 5%;
    background-color: #025157;
    padding: 5% 10%;
    display: grid;
    /*Atajo de columnas y filas */
    height: 800px;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.features .feature-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.features .feature-card .feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
    width: 70%;
}

.features .feature-card .feature-content>* {
    margin-bottom: 1rem;
    margin-top: 0;
}

.features .feature-card .feature-content img {
    width: 50px;
}

.features .feature-card .feature-content h2 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
}

.features .feature-card .feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
    text-align: justify;
}

.features .feature-card .feature-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}

.features .feature-card .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 30%;
}

.features .feature-card .feature-image figure,
.features .feature-card .feature-image img {
    margin-top: 0;
    height: 100%;
}

/* Carrrusel */
.success-stories {
    background-color: #a1d683;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.success-stories .overview {
    flex: 2;
    padding-right: 100px;
    width: 70%;
}

.stories-carousel{
    width: 30%;
}

.success-stories .overview h2 {
    font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
}

.success-stories .overview p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.success-stories .overview button {
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
}

.success-stories .overview img {
    width: 500px;
    max-width: 100%;
}

.success-stories .card {
    max-width: 370px;
    width: 100%;
    margin: 0 auto;
}

/* Con object-fit, hacemos que la imagen se ajuste a la medida de su contenedor y limitamos su alto */
.success-stories .card>img {
    height: 250px;
    object-fit: cover;
}

/* Agregamos position: relative para recibir un elemento con position:absolute más adelante */
.success-stories .card .card-body {
    max-width: 370px;
    width: 100%;
    position: relative;
    padding: 40px 1rem 1rem;
}

/* Estos son los estilos para textos y acomodo de elementos */
.success-stories .card .card-body h4 {
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
    font-family: "Slabo 27px", serif;
}

.success-stories .card .card-body h3 {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;
}

.success-stories .card .card-body .results {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.success-stories .card .card-body .results img {
    width: 26px;
    margin-right: 20px;
}

.success-stories .card .card-body .results p {
    margin: 0;
}

.success-stories .card .card-footer button {
    display: block;
    margin-left: 0;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
    background-color: #025157;
    color: #fff;
    border: none;
}

.success-stories .card .card-footer {
    background-color: #ffffff;
    color: #fff;
    border: none;
}

/* Aqui hacemos un círculo con CSS! Este se posicionará en el margen superior de .card-body */
.success-stories .card .card-body .card-circle {
    display: flex;
    align-items: center;
    position: absolute;
    top: -45px;
    right: 20px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 5px;
}

/* Cada círculo tiene su propio color. Verifica qué significa este selector: .card-circle.everly */
.success-stories .card .card-body .card-circle.everly {
    background-color: #f9da73;
    border: 15px solid #f9da73;
}

.success-stories .card .card-body .card-circle.summit {
    background-color: #81d742;
    border: 5px solid #81d742;
}

.success-stories .card .card-body .card-circle.mambe {
    background-color: #ef7179;
    border: 5px solid #ef7179;
}

/* Los círculos deben recibir la imagen y ajustarla al tamaño */
.success-stories .card .card-body .card-circle.everly img,
.success-stories .card .card-body .card-circle.summit img,
.success-stories .card .card-body .card-circle.mambe img {
    object-fit: contain;
    width: 100%;
}

@media (max-width: 1750px){
    .success-stories .card {
        height: 650px;
    }
}

@media (max-width: 1400px){
    .success-stories .card {
        height: 690px;
    }
}

@media (max-width: 1199px) {
    .main .banner>img {
        width: 100%;
    }

    .explanatory-video {
        width: 50%;
    }

    .publish{
        width: 50%;
    }

    .explanatory-video>video{
        width: 100%;
    }

    .features {
        height: auto;
    }

    .features .feature-card .feature-content {
        /* top,  right, bottom, left*/
        padding: 0px 0px 10px 30px;
    }

    .success-stories .card {
        height: 650px;
    }

    .success-stories .overview {
        width: 60%;
    }
    
    .stories-carousel{
        width: 40%;
    }
}

@media (max-width: 991px) {
    .promo {
        flex-direction: column;
    }

    .explanatory-video {
        width: 100%;
    }

    .publish{
        width: 100%;
        margin-left: 0;
    }

    .explanatory-video>video {
        width: 100%;
    }

    .features {
        padding: 5% 10%;
    }

    .features .feature-card .feature-content {
        /* top,  right, bottom, left*/
        padding: 0px 0px 10px 20px;
    }

    .features .feature-card .feature-content h2 {
        font-size: 18px;
    }
    
    .features .feature-card .feature-content p {
        font-size: 12px;
    }
    
    .features .feature-card .feature-content a {
        font-size: 12px;
    }

    .features .feature-card .feature-content img {
        display: none;
    }

    .success-stories .overview {
        width: 55%;
    }
    
    .stories-carousel{
        width: 45%;
    }

    .success-stories .card {
        height: 680px;
    }
}

@media (max-width: 768px) {
    h1{
        font-size: 30px;
    }

    p{
        font-size: 16px;
    }

    .features .feature-card .feature-content {
        /* top,  right, bottom, left*/
        padding: 0px 0px 10px 10px;
    }
    
    .features .feature-card .feature-content h2 {
        font-size: 16px;
    }
    
    .features .feature-card .feature-content p {
        font-size: 13px;
    }
    
    .features .feature-card .feature-content a {
        font-size: 11px;
    }
    
    .features .feature-card .feature-image {
        right: -20px;
    }

    .success-stories {
        padding: 5% 8%;
        width: 100%;
    }

    .success-stories .overview {
        padding-right: 30px;
        width: 50%;
    }

    .stories-carousel{
        width: 50%;
    }
    
    .success-stories .overview h2 {
        font-size: 30px;
        line-height: 35px;
    }
    
    .success-stories .overview p {
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 1rem;
    }
    
    .success-stories .overview button {
        font-size: 12px;
        padding: 12px 12px 6px 12px;
        height: auto;
        margin-left: 0;
        margin-bottom: 20px;
    }
    
    .success-stories .overview img {
        width: 400px;
        max-width: 100%;
    }
    
    .success-stories .card {
        height: 670px;
    }
    
    /* Estos son los estilos para textos y acomodo de elementos */
    .success-stories .card .card-body h4 {
        line-height: 20px;
        margin-bottom: 12px;
        font-family: "Slabo 27px", serif;
    }
    
    .success-stories .card .card-body h3 {
        font-size: 20px;
    }
    
    .success-stories .card .card-body .results p {
        font-size: 18px;
        margin: 0;
    }
}

@media (max-width: 575px) {
    .logo img{
        width: 80%;
    }

    .promo {
        max-width: 90%;
        margin: 10px auto;
    }

    .explanatory-video img{
        width: 60px;
    }

    .publish {
        margin-top: 10px;
        margin-left: 0;
    }

    .publish>h2 {
        font-size: 25px;
        line-height: 1.2;
    }

    /** Estilos de portada principal y sección de publicidad */
    .features {
        grid-template: repeat(4, 1fr) / 1fr;
        padding-left: 0;
        padding-right: 0;
        height: 100%;
    }

    .features .feature-card .feature-content {
        /* top,  right, bottom, left*/
        padding: 20px 15px 20px 15px;
    }

    .features .feature-card .feature-image img{
        height: 90px;
    }

    .success-stories {
        flex-direction: column;
    }

    .success-stories .overview {
        padding-right: 0;
        width: 100%;
    }

    .stories-carousel{
        width: 100%;
    }

    .success-stories .card {
        height: 505px;
    }
    
    .success-stories .overview h2{
        font-size: 25px;
        line-height: normal;
    }

    .success-stories .card .card-body h3{
        font-size: 18px;
        line-height: normal;
    }

    .success-stories .card .card-body p{
        font-size: 16px;
    }

    .success-stories .card>img {
        height: 200px;
        object-fit: cover;
    }
}

@media (max-width: 340px) {
    .success-stories .card {
        height: 588px;
    }

    .feature-image {
        display: none;
    }

    .features .feature-card .feature-content figure>img {
        display: block;
    }
}